body {
    text-align: center;
    background: #e0bebe;
    font-family: monospace;
    font-weight: 100;
}

/* Styling for heading */
h1 {
    color: #0d3d70;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}
#clockdiv {
    font-family: monospace;
    color: #092a4d;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}
#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #d18a8a;
    display: inline-block;
}
#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #e9c4bd; 
    display: inline-block;
}

/* Style for visible text */
.smalltext {
    padding-top: 5px;
    font-size: 16px;
}